/* CSS Document */

body{ margin:0px; color:#333; font: 13px Helvetica; background:#eee;}
a{ color: #333; }
a:hover{ color: #999; }
img{border:0px;}

#logo{width:100%;height:80px;background:url('img/top.gif') repeat-x #666;}
#content{ height: 100%;padding:20px; }
#footer{background: url('img/bottom.gif') repeat-x;color:#ccff00; padding:15px; text-align:center;}
#footer a{color:#ccff00;}

.layout{background:#fff;border: 1px solid #ccc; padding:20px;margin-bottom:30px;}
code{ display:block;font:12px monospace; background: #e9ffe9;padding: 15px; border: solid 1px #ccddcc; margin-bottom:10px;}
tt{ display:block; font:12px monospace; background: #f6fdfd; padding: 15px; border: solid 1px #ccdddd; margin-bottom:0 0 10px 0; }

.color1{background:#eeeeff;}
.color2{background:#ddddee;}